﻿
@{
    ViewBag.Title = "Index";
}

<h2>@Session["UserName"].ToString()</h2>

@*<table class="table table-bordered">
    <thead>
        <tr>
            <th>File</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["filenya"] as IEnumerable<WebApplication1.Models.tbl_files>)
        {
            <tr>
                <td><a href="@Url.Action("bukaFile", "HomeDevExpress", new { id = item.pk_tbl_files_id })">@item.files_name</a></td>
            </tr>
        }
    </tbody>
</table>*@


@using (Html.BeginForm())
{
    @Html.Action("RichEditPartial")
}

